<div class="todo-item-full">
  <div class="todo-item-container" id="todo_{{ todo().id }}">
    <div class="todo-item-title" (click)="tickItem()">
      <p appHighlightCompleted [isCompleted]="todo().isCompleted">{{ todo().title }}</p>
    </div>


    <div class="icons">
      @if (!todo().isCompleted){
        <i class="fa-solid fa-pen" (click)="!todo().modalState ? editTodo() : closeTodoEditor()"></i>
      }
      <i class="fa-solid fa-trash" (click)="deleteItem()"></i>
    </div>

  </div>

  @if (todo().modalState) {
    <div class="popup">
      <app-edit-popup
        [todo]="todo()"
        (closePopupSignal)="closeTodoEditor()"
        (editedData)="updateTodo($event)"
      />
    </div>

  }

</div>



